body {
    background-color: black;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 26px;

    margin: 25px;
}

li {
    font-size: 18px;
    margin: 15px;
}

.main {
    width: 450px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

#rules {
    display: none;
    font-size: 18px;
    margin: 0;
}

.layout {
    width: 60vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

i {
    display: none;
    font-size: 200px;
    color: white;
}

button {
    min-height: 45px;
    width: 100px;
    background-color: black;
    color: white;
    border: 2px solid white; 
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
}

button:hover {
    background-color: lightseagreen;
    color: black;
  }

#playAgainBtn {
    display: none;
}